<div class="col-md-3 col-lg-3 py-5  border bg-dark">
    <ul class="nav flex-column">
        <li class="nav-item border-bottom">
            <a class="nav-link text-white active" href="dashboard.html"><strong>Dashboard</strong></a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-white" href="{% url 'website:add_property' %}">Add Property</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-white" href="{% url 'website:view_properties_by_agent' %}">View Property</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-white" href="{% url 'website:add_location' %}">Add Location</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-white" href="#">View Location</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-white" href="#">View Profile</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-white" href="#">Edit Profile</a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link text-white" href="#">Change Password</a>
        </li>
    </ul>
</div>